@model List<GrmTaskPrikazVM>;


<table class="table table-hover">
    <thead>
        <tr>
            <th>Position</th>
            <th>Name</th>
            <th>Score</th>

            <th class="text-right">
                <a asp-controller="GrmTask" asp-action="Dodaj" class="btn btn-info btn-sm">Dodaj score</a>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {

        <tr>
            <td>@item.Position</td>
            <td>@item.Name</td>
            <td>@item.Score</td>

        </tr>
        }
    </tbody>
</table>


